@import "variables.css";

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    /*transition: var(--transition-time);*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 63px 0;
}

.row {
    display: flex;
}

.row_gap > *:not(:last-child) {
    margin-right: var(--size-gap-right);
}

.header-container {
    justify-content: space-between;
}

.header {
    position: absolute;
    width: 100%;
    top: 40px;
}

.logo > img {
    width: 32px;
    height: 32px;
    transition: var(--transition-time);
}

.logo > img:hover {
    transform: scale(var(--size-scale));
}

.main_image {
    min-width: 100%;
    min-height: 650px;
    object-fit: cover;
    background: var(--color-theme-gray);
    /*animation: loadImg  3s linear alternate infinite;*/
}

.menu {
    position: relative;
    z-index: 0;
    width: var(--size-menu-w);
    height: var(--size-menu-h);
    border-radius: 26px;
    background: var(--color-theme-white);
    padding: 9px;
}

.menu > a {
    justify-content: space-between;
}

.drop-menu {
    position: absolute;
    z-index: -1;
    background: var(--color-theme-white);
    top: 0;
    right: 0;
    border-radius: 26px;
    padding-top: var(--size-menu-h);
    visibility: hidden;
    opacity: 0;
    transform: rotateX(25deg);
    transform-origin: top right;

    transition: var(--transition-time);
}

.drop-menu > li > a {
    text-decoration: none;
    width: var(--size-menu-w);
    text-align: center;
    padding: 14px 22px;
    word-wrap: normal;
}

.drop-menu > li > a:hover {
    /*transform: scale(var(--size-scale));*/
    color: var(--color-theme-light-gray);
    background: var(--color-theme-coral);
    border-radius: 26px;
}

.menu:hover > .drop-menu,
.menu:focus-within > .drop-menu {
    visibility: visible;
    transform: rotateX(0deg);
    opacity: 1;
}

.ico-arrow-down {
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    background: url("../static/icons/ico-expand-less.svg") no-repeat center;
}

.menu:hover > .row > .ico-arrow-down,
.menu:focus-within > .row > .ico-arrow-down {
    transform: rotatez(180deg);
}

.main_card {
    position: relative;
    background: var(--color-theme-white);
    width: 740px;
    padding: 80px;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: -350px;
}

.main_card > p {
    margin-top: var(--margin-top);
}

.btn {
    width: 250px;
    height: 65px;
    display: flex;
    flex-direction: row;
    background: var(--color-theme-coral);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin-top);
}

.btn:hover {
    background: var(--color-theme-coral-accent);
}

.ico-earth {
    background: url("../static/icons/ico-planet.svg") no-repeat center;
    width: var(--size-icon-medium);
    height: var(--size-icon-medium);
    margin-right: 8px;
}

.advantages_card {
    flex: 1;
}

.advantages_card > *:not(:last-child) {
    margin-bottom: 16px;
}

.advantages_img {
    min-width: 250px;
    min-height: 180px;
    /*animation: loadImg 2s linear infinite alternate;*/
}

.ico-32 {
    min-width: var(--size-icon-large);
    min-height: var(--size-icon-large);
    margin: 64px 0 !important;
}


.card_title {
    flex: 1.5;
}

.mw-320 {
    max-width: 320px;
    margin-bottom: 32px;
}

.link_card {
    flex: 1;
}

.link_card > *:not(:last-child) {
    margin-bottom: 10px;
}

.link_card-img {
    min-height: 420px;
    min-width: 230px;
    margin-bottom: 20px;


}

.ico-start {
    min-width: var(--size-icon-medium);
    min-height: var(--size-icon-medium);
    margin-right: 8px;
    background: url("../static/icons/ico-start.svg");
}

.ico-auth {
    min-width: 32px;
    min-height: 32px;
    background-size: 100%;
    background: url("../static/icons/ico-user.svg") no-repeat;
}

.h-80 {
    height: 80px;
}

.h-60 {
    min-height: 60px;
}

.footer {
    background: var(--color-theme-light-gray);
}

.footer_links > li > a {
    padding: 12px 0;
}

.footer_links > li > a:hover {
    /*transform-origin: left;*/
    transform: scale(var(--size-scale));
    color: var(--color-theme-coral-accent);
}

.line-top {
    border-top: 1px solid var(--color-theme-black);
    justify-content: space-between;
    padding-top: 28px;
}

@keyframes loadImg {
    100% {
        background: var(--color-theme-light-gray);
    }
}


